Package: com.gnos.badgeclearer
Name: BadgeClearer
Depends: mobilesubstrate, preferenceloader, applist(>=1.5.1), firmware(>=5.0)
Version: 3.2
Architecture: iphoneos-arm
Description: Remove your badges as fast as they came!
Maintainer: Uroboro <uroboro.845@gmail.com>
Author: GN-OS
Section: Tweaks
