<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Welcome! 😄</string>
			<key>footerText</key>
			<string>This allows you to enable or disable the tweak.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ge0rges.badgeclearer</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable / Disable</string>
		</dict>
		<dict>
			<key>label</key>
			<string>To reset all badges:</string>
			<key>footerText</key>
			<string>If you want to reset all the badges just press the button and it will issue the command.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Badges</string>
			<key>action</key>
			<string>resetbadges</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>You may choose to Black list some apps.</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>BlackList</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string>App-</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>footerText</key>
			<string>You may find my Repo, twiter, donation and projects information on the website</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>devwebsite</string>
			<key>label</key>
			<string>Ge0rges&apos;s website</string>
		</dict>
		<dict>
			<key>label</key>
			<string>General Information</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Developed by Ge0rges © 2013 Ge0rges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Version</string>
			<key>get</key>
			<string>version:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Developer</string>
			<key>get</key>
			<string>developer:</string>
		</dict>
		<dict>
			<key>get</key>
			<string>hostedby:</string>
			<key>label</key>
			<string>Hosted by</string>
			<key>cell</key>
			<string>PSTitleValueCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>BadgeClearer</string>
</dict>
</plist>
