<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ge0rges.badgeclearer</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Blacklist</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string>App-</string>
			<key>ALSingleEnabledMode</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Version</string>
			<key>get</key>
			<string>version:</string>
		</dict>
			<dict>
			<key>label</key>
			<string>Developed by GN-OS</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© GN-OS 2013</string>
		</dict>
	</array>
	<key>title</key>
	<string>BadgeClearer</string>
</dict>
</plist>
